@model DeliverEase.Models.DeliveryDriver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeliveryDriver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriverFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverLastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DriverId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
